</article>
<div class="footer">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
       <a href="https://github.com/inkinworld/Hexo-theme-Han" target="_blank">Hexo Han</a>
       <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
</div>
</body>
</html>