<header class="index-header">
	<div class="header-box">
		<button class="list-button">三</button>
		<h1 class="blog-name"><%- config.title %></h1>
		<button class="nav-button"><</button>
		<div class="index-nav">
			<ul>
			  <% for (var i in theme.menu){ %>
			    <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
			  <% } %>
			</ul>	
		</div>
	</div>
</header>