<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>博客</title>
	<script type="text/javascript" src="/javascripts/highlight.pack.js"></script>
	<script type="text/javascript" src="/javascripts/toc.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/github-markdown.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tomorrow.css">
</head>
<body>