<header class="index-header">
	<div class="header-box">
		<button class="list-button">三</button>
		<h1 class="blog-name">Blog</h1>
		<button class="nav-button"><</button>
		<div class="index-nav">
			<ul>
				<li>主页</li>
				<li>时间轴</li>
				<li>关于</li>
				<li>作品</li>
			</ul>	
		</div>
	</div>
</header>