<div class="container">
	<%- partial('_partial/index-list1') %>
	<div class="index-articles">
		<%- partial('_partial/archive-title',{page:page}) %>
		<% page.posts.forEach(function(article,index){ %>
			<%- partial('_partial/article-excerpt',{article:article,isIndex:isIndex}) %>
		<% }) %>
		<%- partial('_partial/pagination',{page:page}) %>
	</div>	
</div>