<div class="index-list1">
	<ul class="head-icon">
		<li id="index-tip">
			<img src="twitter-avatar-summit.png"><br>
			<span>XXX</span>
		</li>
		<li>test1</li>
		<li>test2</li>
		<li>test3</li>
		<li>test4</li>
		<li>test5</li>
	</ul>	
</div>