<div class="page">
	<% if (page.next && page.prev){ %>
	    <a class="page-prev" href="<%- url_for(page.prev_link) %>">Previous</a>
	    <a class="page-next" href="<%- url_for(page.next_link) %>">Next</a>
	<% } %>
	<% if (page.next && !page.prev){ %>
	    <a class="page-boe" href="<%- url_for(page.next_link) %>">Next</a>
	<% } %>
	<% if (!page.next && page.prev){ %>
	    <a class="page-boe" href="<%- url_for(page.prev_link) %>">Previous</a>
	<% } %>

</div>

